/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#elaizaSounds p {
	position: absolute;
	margin-top: -3em;
	width: 100%;
	text-align: center;
    opacity: 0;
    color: ivory;
    font-family: "Brenner Light";
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
.voice1 {
	font-style: italic;
}

#video-placeholder {
	margin-left: 20%;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.voice1.on {
	padding: 5px;
	background-color: yellow;
	color: black;
	margin-top: 50px;
	margin-left: 800px;
	font-size: 21px;
	font-family: Brenner mono;
}
.voice2.on {
	font-size: 21px;
	margin-left: 17em;
	margin-top: 50px;
	padding: 15px;
	background-color: ivory;
	color: black;
	font-family: Brenner sans;
}
.voice3.on {
	font-size: 24px;
	font-weight: bold;
	color: rgba(255, 0, 0, 0.15);
	margin-left: 45em;
	margin-top: 50px;
	animation: cursingVoice1 2s linear;
	font-family: Brenner slab;
}
.voice4.on {
	margin-left: 700px;
	margin-top: 50px;
	color: darkslateblue;
	font-size: 20px;
	font-family: Brenner mono; 
	padding: 5px;
	background-color: rgb(255, 255, 125);
}

/* Overgenomen van Elaiza */
#elaizaSounds {
    z-index: 200;
    font-size: 1.2em;
}
/* tot hier */

.sound0 {
	animation: openingShot 20s linear;
}
.sound1 {
	animation: noiseAni1 20s linear;
}
.sound2 {
	animation: noiseAni2 15s linear;
}
.sound4 {
	animation: buzzerAni1 10s linear;
}
.sound6 {
	animation: buzzerAni2 10s linear;
}
.sound8 {
	animation: buzzerAni3 10s linear;
}
.sound9 {
	animation: sharpNoise1 42s linear;
}
.sound10 {
	animation: sharpNoise2 45s linear;
}


/* Overgenomen van Elaiza */
.sound0 #elaizaSounds .uno {
    animation: soundFade 8s;
}
.sound1 #elaizaSounds .tres {
    animation: soundFade 2s;
}
.sound2 #elaizaSounds .dos {
    animation: soundFade 2s;
}
.sound3 #elaizaSounds .tres2 {
    animation: soundFade 1.5s;
}
.sound4 #elaizaSounds .tres3 {
    animation: soundFade 1.5s;
}
.sound5 #elaizaSounds .tres4 {
    animation: soundFade 1.5s;
}
.sound6 #elaizaSounds .tres5 {
    animation: soundFade 1.5s;
}
.sound7 #elaizaSounds .tres6 {
    animation: soundFade 1.3s;
}
.sound8 #elaizaSounds .tres7 {
    animation: soundFade 1.5s;
}
.sound8 #elaizaSounds .quatro {
    opacity: 1;
    transition: 1s;
    transition-delay: 1s;
}
.sound9 #elaizaSounds .quatro {
    transition-delay: 40s;
    transition-duration: 1;
    opacity: 0;
}
/* tot hier */

@keyframes noiseAni1 {
	0% {background-color: black;}
	5% {background-color: rgb(73, 20, 0);}
	10% {background-color: black;}
	100% {background-color: black;}
}

@keyframes noiseAni2 {
	0% {background-color: black;}
	9.9% {background-color: rgb(97, 63, 0);}
	10% {background-color: black;}
	100% {background-color: black;}
}

@keyframes buzzerAni1 {
	0% {background-color: black;}
	2% {background-color: red;}
	4% {background-color: white}
	7% {background-color: black;}
	30% {background-color: black;}
	70% {background-color: rgb(83, 0, 0);}
	95% {background-color: black;}
	100% {background-color: black;}
}

@keyframes buzzerAni2 {
	0% {background-color: black;}
	2% {background-color: red;}
	4% {background-color: white}
	7% {background-color: black;}
	30% {background-color: rgb(83, 0, 0);}
	60% {background-color: black;}
	100% {background-color: black;}
}

@keyframes buzzerAni3 {
	0% {background-color: black;}
	2% {background-color: red;}
	4% {background-color: white}
	7% {background-color: white;}
	100% {background-color: white;}
}

@keyframes openingShot {
	0% {background-color: black;}
	25% {background-color: rgb(29, 41, 41);}
	50% {background-color: rgb(0, 56, 56)}
	75% {background-color: rgb(26, 41, 41);}
	100% {background-color: black;}
}

@keyframes cursingVoice1 {
	0% {opacity: 60%;
		color: white;}
	20% {color: red;}
	40% {color: darkred;}
	60% {color: white;}
	75% {color: red}
	90% {opacity: 15%}
	100% {opacity: 0%}
}

@keyframes sharpNoise1 {
	0% {filter: brightness(100%);
		background-color: white;}
	100% {filter: brightness(35%);
		background-color: rgb(100, 100, 100);
		color: white;}
}

/* Overgenomen van Elaiza */
@keyframes soundFade {
    0% {opacity: 1;
		filter: brightness(100%)}
    75% {opacity: 1;
		filter: brightness(100%)}
    100% {opacity: 0;
		filter: brightness(100%)}
}
/* tot hier */